.page .panel-content .entry-title, 
.page-title, 
body.page:not(.twentyseventeen-front-page) .entry-title {
  color: #d63b14; 
  font-size: 30px;
  font-size: 1.875rem;
}


button, input[type="button"], input[type="submit"] {
  background: #d63b14;
}


@media screen and (min-width: 48em) {
  .page.page-one-column .entry-header, 
  .twentyseventeen-front-page.page-one-column .entry-header, 
  .archive.page-one-column:not(.has-sidebar) .page-header {
      margin-bottom: 1.4em;
  }
}
